.container {
  padding: 20px 72px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.blue {
  color: #2262CF;
  font-size: 48px;
  margin-top: 6px;
}

.form {
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.submit {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 60px 100px;
  padding: 6px 24px;
  border: 3px solid transparent;
  border-radius: 48px;
  color: white;
  background: #CB785C;
  font-weight: bold;
  transition: all 0.3s ease;

  &:hover {
    cursor: pointer;
    background: transparent;
    color:#CB785C;
    border-color: #CB785C;
  }
}

.framey {
  position: absolute;
  top: 450px;
  height: auto;
}