.container {
  padding: 20px 72px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.blue {
  color: #2262CF;
  font-size: 48px;
  margin-top: 6px;
}

.form {
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.submit {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 60px 100px;
  padding: 6px 24px;
  border: 3px solid transparent;
  border-radius: 48px;
  color: white;
  background: #CB785C;
  font-weight: bold;
  transition: all 0.3s ease;

  &:hover {
    cursor: pointer;
    background: transparent;
    color:#CB785C;
    border-color: #CB785C;
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.framey-create {
  position: absolute;
  top: 456px;
  left: 992px;
  height: auto;
  transition: transform 0.3s ease;
}

.framey-create:hover {
  animation: bounce 1s ease;
}

@media (max-width: 1032px), (max-height: 848px) {
  .framey-create {
      display: none;
  }
}

.cancel-icon {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 24px;
}