.dropdown-toggle {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  background-color: #FFF;
  height: 32px;
  width: 100%;
  padding: 0 12px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.close-icon {
  margin-left: auto;
}

.transparent {
  background: transparent;
}

.options {
  position: absolute;
  width: 500px;
  overflow-y: scroll;
  list-style: none;
  background: white;
  border-radius: 4px;
  padding-inline-start: 0;
  margin-top: 8px;
  z-index: 1000;
}

.option {
  width: 100%;
  padding: 8px 16px;

  &:hover {
    cursor: pointer;
    background: #e9e9e9;
  }
}