.recording {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.record-button {
  padding: 6px 24px;
  color: white;
  background: #2262CF;
  border-radius: 48px;
  transition: all 0.3s ease;
  border: 3px solid transparent;
  font-weight: bold;
  transition: all 0.3s ease;

  &:hover {
    cursor: pointer;
    background: transparent;
    color: #2262CF;
    border-color: #2262CF;
  }
}
